@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
    /* by setting font-size, all the elements will correspond */
    font-size: 9px !important; /* default to 10px */
  }

  .react-calendar__month-view__weekdays{

    align-items: center;
 
    text-decoration: none;
  
    background-color: rgb(62, 133, 226);
    color: white;
    font-size: 5px;
  }

  .react-calendar__navigation__arrow .react-calendar__navigation__prev-button{
    background-color: aqua;
  }

  .react-calendar__tile .react-calendar__tile--now .react-calendar__month-view__days__day{
    background-color: red;
  }