@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 9px !important;
  /* default to 10px */
}

.react-calendar__month-view__weekdays {

  align-items: center;

  text-decoration: none;

  background-color: rgb(62, 133, 226);
  color: white;
  font-size: 5px;
}

.react-calendar__navigation__arrow .react-calendar__navigation__prev-button {
  background-color: aqua;
}

.react-calendar__tile .react-calendar__tile--now .react-calendar__month-view__days__day {
  background-color: red;
}

/* This style sets the default size of the heart icon. */
.heart-icon {
  transition: transform 0.3s ease-in-out;
  /* Geçiş efekti için kullanılır */
}

/*This style enlarges the size of the heart icon. */
.hearted {
  transform: scale(1.2);
  /* It enlarges the heart icon by 1.2 times; you can adjust it according to your preference. */
}

/* This style adds animation to the heart icon. */
@keyframes heartBeat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

/* This style utilizes animation. */
.animate-heart {
  animation: heartBeat 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* WebKit tarayıcıları için scrollbar stilini özelleştirme */
/* Scroll bar'ını inceltme ve özel bir renk atama */
::-webkit-scrollbar {
  width: 1px;
  height: 3px;

}

#fake-window::-webkit-scrollbar {
  display: none;
}

/* Scroll bar'ı kaydırma yönü boyunca hareket ettirildiğinde */
::-webkit-scrollbar-thumb {
  background-color: #777777;
  /* Scroll bar rengi */
  border-radius: 4px;
  /* Scroll bar köşe yuvarlama */
}

/* Scroll bar üzerine gelindiğinde */
::-webkit-scrollbar-thumb:hover {
  background-color: #033CAA;
  /* Hover durumunda scroll bar rengi */
}

/* Scroll bar track, yani kaydırma çubuğu etrafındaki arka plan */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track rengi */
}

/* Scroll bar track üzerine gelindiğinde */
::-webkit-scrollbar-track:hover {
  background-color: #ddd;
  /* Hover durumunda track rengi */
}


.custom-play-button-overlay {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(83, 83, 83, 0.1);
  z-index: 2;
  /* ya da daha büyük bir değer */
  /* Gri renkte ve %90 saydam arka plan */
}

/* Öğelerin varsayılan tıklanabilir vurgulama stilini devre dışı bırak */
* {
  -webkit-tap-highlight-color: transparent;
  /* Safari, Chrome, Opera, UC Browser */
  -webkit-touch-callout: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

